<div class="container">
    <header>
        <a href="https://www.cstep.in" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/CSTEP.png" alt="CSTEP Logo" loading="lazy" width="110px" style="margin-left: 60px; height: 50px;">
        </a>
        <nav>
            <a routerLink="" routerLinkActive="active" >Home</a>
            <a routerLink="/about" routerLinkActive="active" >About</a>
            <a routerLink="/download" routerLinkActive="active" >Download</a>
        </nav>
    </header>

    <video autoplay muted loop  class="background-image" type="video/mp4">
      <source src="assets/images/vecteezy_renewable-energy-green-with-solar-panels-wind-mill-sun_3054884.mp4" type="video/mp4">
    </video>   
    
    <div class="upload-section">
      <div class="info-message">
        <p>Click on a Sector's below to Explore the Specific Projects within that Sector.</p>
      </div>  
      <div class="carousel">
        <div class="carousel-item" *ngFor="let item of items" (click)="showDetails(item)">
          <div class="custom-shape">
            <img [src]="item.subItems[0].image" alt="{{ item.name }}">
            <p>{{ item.name }}<p>
          </div>
        </div>
        <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
        <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
      </div>
    </div>
    <section class="details-section" *ngIf="selectedItem" id="details-section">
      <div *ngFor="let subItem of selectedItem.subItems" class="img-content">
        <div class="image-container">
          <hr style="border: 1px solid black; margin: 20px 0; width: 100%;">
          <img [src]="subItem.image" alt="{{ subItem.subName }}">
        </div>
        <div class="details-container">
        <a [href]="subItem.reportLink" target="reportLink" rel="noopener noreferrer">
            <h2>{{ subItem.subName }}</h2>
        </a>
        <p>{{ subItem.description }}</p>
        </div>
      </div>
    </section>
    <button id="scrollUpBtn" title="Go to top" class="scroll-up-btn" style="display:none;">&#8679;</button>
    <footer class="footer">
        <a href="https://www.cstep.in" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/CSTEP.png" alt="CSTEP Logo" loading="lazy" width="110px" style="margin-left: 60px; height: 50px;">
        </a>
      <div class="footer-contact">
        <p>Email: cpe.cstep&#64;gmail.com</p>
        <p>Contact:+91(80)6690-2500</p>
      </div>
    </footer>
  </div>